<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.depsit.repo.RbAcctNatureRestraintsMapper">
    <resultMap id="BaseResultMap" type="com.dcits.depsit.entity.RbAcctNatureRestraints">
        <id column="RESTRAINT_TYPE" property="restraintType" jdbcType="VARCHAR" />
        <id column="ACCT_NATURE_NO" property="acctNatureNo" jdbcType="VARCHAR" />
        <result column="TERM_TYPE" property="termType" jdbcType="VARCHAR" />
        <result column="LAST_UPD_TIMESTAMP" property="lastUpdTimestamp" jdbcType="VARCHAR" />
        <result column="CREATE_TIMESTAMP" property="createTimestamp" jdbcType="VARCHAR" />
        <result column="TERM" property="term" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        TERM_TYPE,        LAST_UPD_TIMESTAMP,        CREATE_TIMESTAMP,        RESTRAINT_TYPE,        ACCT_NATURE_NO,        TERM    </sql>

    <select id="selectByExample" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraintsExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from RB_ACCT_NATURE_RESTRAINTS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from RB_ACCT_NATURE_RESTRAINTS
        where RESTRAINT_TYPE = #{restraintType,jdbcType=VARCHAR}
          and ACCT_NATURE_NO = #{acctNatureNo,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from RB_ACCT_NATURE_RESTRAINTS
        where RESTRAINT_TYPE = #{restraintType,jdbcType=VARCHAR}
          and ACCT_NATURE_NO = #{acctNatureNo,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraintsExample">
        delete from RB_ACCT_NATURE_RESTRAINTS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraints">
        insert into RB_ACCT_NATURE_RESTRAINTS
        (
            TERM_TYPE,            LAST_UPD_TIMESTAMP,            CREATE_TIMESTAMP,            RESTRAINT_TYPE,            ACCT_NATURE_NO,            TERM        )
        values
        (
            #{termType,jdbcType=VARCHAR},            #{lastUpdTimestamp,jdbcType=VARCHAR},            #{createTimestamp,jdbcType=VARCHAR},            #{restraintType,jdbcType=VARCHAR},            #{acctNatureNo,jdbcType=VARCHAR},            #{term,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraints">
        insert into RB_ACCT_NATURE_RESTRAINTS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="termType != null">
                TERM_TYPE,
            </if>
            <if test="lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP,
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP,
            </if>
            <if test="restraintType != null">
                RESTRAINT_TYPE,
            </if>
            <if test="acctNatureNo != null">
                ACCT_NATURE_NO,
            </if>
            <if test="term != null">
                TERM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="termType != null">
                #{termType,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdTimestamp != null">
                #{lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="createTimestamp != null">
                #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="restraintType != null">
                #{restraintType,jdbcType=VARCHAR},
            </if>
            <if test="acctNatureNo != null">
                #{acctNatureNo,jdbcType=VARCHAR},
            </if>
            <if test="term != null">
                #{term,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraintsExample" resultType="java.lang.Long">
        select count(*) from RB_ACCT_NATURE_RESTRAINTS
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update RB_ACCT_NATURE_RESTRAINTS
        <set>
            <if test="row.termType != null">
                TERM_TYPE = #{row.termType,jdbcType=VARCHAR},
            </if>
            <if test="row.lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP = #{row.lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.createTimestamp != null">
                CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.restraintType != null">
                RESTRAINT_TYPE = #{row.restraintType,jdbcType=VARCHAR},
            </if>
            <if test="row.acctNatureNo != null">
                ACCT_NATURE_NO = #{row.acctNatureNo,jdbcType=VARCHAR},
            </if>
            <if test="row.term != null">
                TERM = #{row.term,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update RB_ACCT_NATURE_RESTRAINTS
        set
            TERM_TYPE = #{row.termType,jdbcType=VARCHAR},            LAST_UPD_TIMESTAMP = #{row.lastUpdTimestamp,jdbcType=VARCHAR},            CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},            RESTRAINT_TYPE = #{row.restraintType,jdbcType=VARCHAR},            ACCT_NATURE_NO = #{row.acctNatureNo,jdbcType=VARCHAR},            TERM = #{row.term,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraints">
        update RB_ACCT_NATURE_RESTRAINTS
        <set>
            <if test="termType != null">
                TERM_TYPE = #{termType,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP = #{lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="term != null">
                TERM = #{term,jdbcType=VARCHAR},
            </if>
        </set>
        where RESTRAINT_TYPE = #{restraintType,jdbcType=VARCHAR}
          and ACCT_NATURE_NO = #{acctNatureNo,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.depsit.entity.RbAcctNatureRestraints">
        update RB_ACCT_NATURE_RESTRAINTS
        set
            TERM_TYPE = #{termType,jdbcType=VARCHAR},            LAST_UPD_TIMESTAMP = #{lastUpdTimestamp,jdbcType=VARCHAR},            CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},            TERM = #{term,jdbcType=VARCHAR}        where RESTRAINT_TYPE = #{restraintType,jdbcType=VARCHAR}
          and ACCT_NATURE_NO = #{acctNatureNo,jdbcType=VARCHAR}
    </update>
</mapper>