<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.depsit.repo.RbBusPasswordMapper">
    <resultMap id="BaseResultMap" type="com.dcits.depsit.entity.RbBusPassword">
        <id column="INTERNAL_KEY" property="internalKey" jdbcType="INTEGER" />
        <id column="PWD_TYPE" property="pwdType" jdbcType="VARCHAR" />
        <id column="PWD_KEY" property="pwdKey" jdbcType="VARCHAR" />
        <result column="PREV_FAILURE_TIMES" property="prevFailureTimes" jdbcType="INTEGER" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="CHANGE_IND" property="changeInd" jdbcType="VARCHAR" />
        <result column="PASSWORD_STATUS" property="passwordStatus" jdbcType="VARCHAR" />
        <result column="LAST_UPD_TIMESTAMP" property="lastUpdTimestamp" jdbcType="VARCHAR" />
        <result column="PASSWORD_EFFECT_DATE" property="passwordEffectDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_TIMESTAMP" property="createTimestamp" jdbcType="VARCHAR" />
        <result column="DAY_FAILURE_TIMES" property="dayFailureTimes" jdbcType="INTEGER" />
        <result column="FAILURE_TIMES" property="failureTimes" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        PREV_FAILURE_TIMES,        INTERNAL_KEY,        PASSWORD,        CHANGE_IND,        PASSWORD_STATUS,        LAST_UPD_TIMESTAMP,        PASSWORD_EFFECT_DATE,        CREATE_TIMESTAMP,        DAY_FAILURE_TIMES,        FAILURE_TIMES,        PWD_TYPE,        PWD_KEY    </sql>

    <select id="selectByExample" parameterType="com.dcits.depsit.entity.RbBusPasswordExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from RB_BUS_PASSWORD
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from RB_BUS_PASSWORD
        where INTERNAL_KEY = #{internalKey,jdbcType=INTEGER}
          and PWD_TYPE = #{pwdType,jdbcType=VARCHAR}
          and PWD_KEY = #{pwdKey,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from RB_BUS_PASSWORD
        where INTERNAL_KEY = #{internalKey,jdbcType=INTEGER}
          and PWD_TYPE = #{pwdType,jdbcType=VARCHAR}
          and PWD_KEY = #{pwdKey,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.dcits.depsit.entity.RbBusPasswordExample">
        delete from RB_BUS_PASSWORD
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.dcits.depsit.entity.RbBusPassword">
        insert into RB_BUS_PASSWORD
        (
            PREV_FAILURE_TIMES,            INTERNAL_KEY,            PASSWORD,            CHANGE_IND,            PASSWORD_STATUS,            LAST_UPD_TIMESTAMP,            PASSWORD_EFFECT_DATE,            CREATE_TIMESTAMP,            DAY_FAILURE_TIMES,            FAILURE_TIMES,            PWD_TYPE,            PWD_KEY        )
        values
        (
            #{prevFailureTimes,jdbcType=INTEGER},            #{internalKey,jdbcType=INTEGER},            #{password,jdbcType=VARCHAR},            #{changeInd,jdbcType=VARCHAR},            #{passwordStatus,jdbcType=VARCHAR},            #{lastUpdTimestamp,jdbcType=VARCHAR},            #{passwordEffectDate,jdbcType=TIMESTAMP},            #{createTimestamp,jdbcType=VARCHAR},            #{dayFailureTimes,jdbcType=INTEGER},            #{failureTimes,jdbcType=INTEGER},            #{pwdType,jdbcType=VARCHAR},            #{pwdKey,jdbcType=VARCHAR}        )
    </insert>

    <insert id="insertSelective" parameterType="com.dcits.depsit.entity.RbBusPassword">
        insert into RB_BUS_PASSWORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="prevFailureTimes != null">
                PREV_FAILURE_TIMES,
            </if>
            <if test="internalKey != null">
                INTERNAL_KEY,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
            <if test="changeInd != null">
                CHANGE_IND,
            </if>
            <if test="passwordStatus != null">
                PASSWORD_STATUS,
            </if>
            <if test="lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP,
            </if>
            <if test="passwordEffectDate != null">
                PASSWORD_EFFECT_DATE,
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP,
            </if>
            <if test="dayFailureTimes != null">
                DAY_FAILURE_TIMES,
            </if>
            <if test="failureTimes != null">
                FAILURE_TIMES,
            </if>
            <if test="pwdType != null">
                PWD_TYPE,
            </if>
            <if test="pwdKey != null">
                PWD_KEY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="prevFailureTimes != null">
                #{prevFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="internalKey != null">
                #{internalKey,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="changeInd != null">
                #{changeInd,jdbcType=VARCHAR},
            </if>
            <if test="passwordStatus != null">
                #{passwordStatus,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdTimestamp != null">
                #{lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="passwordEffectDate != null">
                #{passwordEffectDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTimestamp != null">
                #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="dayFailureTimes != null">
                #{dayFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="failureTimes != null">
                #{failureTimes,jdbcType=INTEGER},
            </if>
            <if test="pwdType != null">
                #{pwdType,jdbcType=VARCHAR},
            </if>
            <if test="pwdKey != null">
                #{pwdKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.dcits.depsit.entity.RbBusPasswordExample" resultType="java.lang.Long">
        select count(*) from RB_BUS_PASSWORD
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update RB_BUS_PASSWORD
        <set>
            <if test="row.prevFailureTimes != null">
                PREV_FAILURE_TIMES = #{row.prevFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="row.internalKey != null">
                INTERNAL_KEY = #{row.internalKey,jdbcType=INTEGER},
            </if>
            <if test="row.password != null">
                PASSWORD = #{row.password,jdbcType=VARCHAR},
            </if>
            <if test="row.changeInd != null">
                CHANGE_IND = #{row.changeInd,jdbcType=VARCHAR},
            </if>
            <if test="row.passwordStatus != null">
                PASSWORD_STATUS = #{row.passwordStatus,jdbcType=VARCHAR},
            </if>
            <if test="row.lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP = #{row.lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.passwordEffectDate != null">
                PASSWORD_EFFECT_DATE = #{row.passwordEffectDate,jdbcType=TIMESTAMP},
            </if>
            <if test="row.createTimestamp != null">
                CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="row.dayFailureTimes != null">
                DAY_FAILURE_TIMES = #{row.dayFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="row.failureTimes != null">
                FAILURE_TIMES = #{row.failureTimes,jdbcType=INTEGER},
            </if>
            <if test="row.pwdType != null">
                PWD_TYPE = #{row.pwdType,jdbcType=VARCHAR},
            </if>
            <if test="row.pwdKey != null">
                PWD_KEY = #{row.pwdKey,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update RB_BUS_PASSWORD
        set
            PREV_FAILURE_TIMES = #{row.prevFailureTimes,jdbcType=INTEGER},            INTERNAL_KEY = #{row.internalKey,jdbcType=INTEGER},            PASSWORD = #{row.password,jdbcType=VARCHAR},            CHANGE_IND = #{row.changeInd,jdbcType=VARCHAR},            PASSWORD_STATUS = #{row.passwordStatus,jdbcType=VARCHAR},            LAST_UPD_TIMESTAMP = #{row.lastUpdTimestamp,jdbcType=VARCHAR},            PASSWORD_EFFECT_DATE = #{row.passwordEffectDate,jdbcType=TIMESTAMP},            CREATE_TIMESTAMP = #{row.createTimestamp,jdbcType=VARCHAR},            DAY_FAILURE_TIMES = #{row.dayFailureTimes,jdbcType=INTEGER},            FAILURE_TIMES = #{row.failureTimes,jdbcType=INTEGER},            PWD_TYPE = #{row.pwdType,jdbcType=VARCHAR},            PWD_KEY = #{row.pwdKey,jdbcType=VARCHAR}        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.dcits.depsit.entity.RbBusPassword">
        update RB_BUS_PASSWORD
        <set>
            <if test="prevFailureTimes != null">
                PREV_FAILURE_TIMES = #{prevFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="changeInd != null">
                CHANGE_IND = #{changeInd,jdbcType=VARCHAR},
            </if>
            <if test="passwordStatus != null">
                PASSWORD_STATUS = #{passwordStatus,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdTimestamp != null">
                LAST_UPD_TIMESTAMP = #{lastUpdTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="passwordEffectDate != null">
                PASSWORD_EFFECT_DATE = #{passwordEffectDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createTimestamp != null">
                CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="dayFailureTimes != null">
                DAY_FAILURE_TIMES = #{dayFailureTimes,jdbcType=INTEGER},
            </if>
            <if test="failureTimes != null">
                FAILURE_TIMES = #{failureTimes,jdbcType=INTEGER},
            </if>
        </set>
        where INTERNAL_KEY = #{internalKey,jdbcType=INTEGER}
          and PWD_TYPE = #{pwdType,jdbcType=VARCHAR}
          and PWD_KEY = #{pwdKey,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.dcits.depsit.entity.RbBusPassword">
        update RB_BUS_PASSWORD
        set
            PREV_FAILURE_TIMES = #{prevFailureTimes,jdbcType=INTEGER},            PASSWORD = #{password,jdbcType=VARCHAR},            CHANGE_IND = #{changeInd,jdbcType=VARCHAR},            PASSWORD_STATUS = #{passwordStatus,jdbcType=VARCHAR},            LAST_UPD_TIMESTAMP = #{lastUpdTimestamp,jdbcType=VARCHAR},            PASSWORD_EFFECT_DATE = #{passwordEffectDate,jdbcType=TIMESTAMP},            CREATE_TIMESTAMP = #{createTimestamp,jdbcType=VARCHAR},            DAY_FAILURE_TIMES = #{dayFailureTimes,jdbcType=INTEGER},            FAILURE_TIMES = #{failureTimes,jdbcType=INTEGER}        where INTERNAL_KEY = #{internalKey,jdbcType=INTEGER}
          and PWD_TYPE = #{pwdType,jdbcType=VARCHAR}
          and PWD_KEY = #{pwdKey,jdbcType=VARCHAR}
    </update>
</mapper>